* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: lightblue;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4vh;
  background: rgb(100, 161, 218);
}

.logo{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 60%;
  list-style: none;
}

.nav-links a{
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  font-weight: bold;
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: black;
  transition: all 0.2s ease;
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 96vh;
    top: 4vh;
    background-color: rgb(100, 161, 218) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.burgerToggle .line1{
transform: rotate(-45deg) translate(-5px,6px);
}
.burgerToggle .line2{
  opacity: 0;
}
.burgerToggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

h1 {
  display:block;
  width:fit-content;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
